@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primaria: #000000;
    --color-secundaria: #e6e6e6;
    --color-terciaria: #0A3871;
    --color-blue: #0c4b97;
    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

body {
    background-color: var(--color-terciaria);
    justify-content: center;
    display: flex;
    gap: 10px;
    background-image: url("img/Ruido.png");
    background-size: 120% 140%;
    margin-top: 24px;
}

.container {
    background-color: var(--color-secundaria);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    width: 300px;
    text-align: center;
}

.container__resultado {
    background-color: var(--color-secundaria);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    width: 300px;
    text-align: center;
}

.texto__titulo {
    font-size: 1.25rem;
    margin-bottom: 10%;
    font-family: var(--fuente-krona);
}

.texto__titulo__destaque {
    color: var(--color-terciaria);
}

.texto__textea {
    width: 100%;
    border: none;
	outline: none;
	text-align: center;
	overflow: hidden;
    color: var(--color-terciaria);
}

textarea {
    background-color: var(--color-secundaria);
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--color-terciaria);
    border-radius: 10px;
    resize: none;
}

.texto__advertencia {
    font-family: var(--fuente-montserrat);
    font-size: 0.6rem;
    margin: 5px;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
}

.btn__encriptar, .btn__eliminar {
    background: var(--color-terciaria);
    color: var(--color-secundaria);
    padding: 15px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    width: 45%;
    font-weight: bold;
}

.btn__desencriptar, .btn__copiar {
    background: #D8DFE8;
    color: #286ec5;
    padding: 15px 20px;
    border: 1px solid var(--color-terciaria);
    border-radius: 24px;
    cursor: pointer;
    width: 45%;
    font-weight: bold;
}

.btn__encriptar:hover, .btn__eliminar:hover {
    background-color: #1a549b;
}

.btn__desencriptar:hover, .btn__copiar:hover {
    background-color: #5c9be9;
}

.container__ia {
    width: 50%;
    margin-left: 50%;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: var(--color-blue);
    color: white;
    position: relative;
    bottom: 0;
    padding: 10px 0;
    font-size: 0.9rem;
    margin-top: auto;
    position: absolute;
}

.usuario{
	color: #ffffff;
	font-style: italic;
}
.links{
	width: 20px;
}

/* Estilos responsivos */
@media screen and (min-width: 375px) and (max-width: 768px) {
    /* Móviles */
    body {
        flex-direction: column;
        scale: 100%;
        margin-left: 7%;
        justify-content: center;
    }

    .container__resultado {
        margin-top: auto;
    }

    .texto__textea {
        max-height: 270px;
		font-size: 18px;
    }

    .botones {
        flex-direction: column;
    }

    .botones button {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    /* Tablets */
    .container {
        width: 85%;
    }

    .container__resultado {
        width: 85%;
    }

    .texto__textea {
        height: 150px;
        font-size: 1rem;
    }
}